[Desktop Entry]
Type=Application
Name=Ledger Live
Comment=LedgerLive
Icon=input-tablet
Exec=/home/jalcerro/Downloads/ledger-live-desktop-2.35.1-linux-x86_64.AppImage
Categories=Utility;
